<header class="header">
    <nav class="nav">
      <button class="btn-menu">
        <span class="hamburger cursor"></span>
      </button>
      <ul class="menu" id="menu" role="menu">
        <li>
          <div class="menu__usuario">
            <img
              src="https://static8.depositphotos.com/1046686/921/i/450/depositphotos_9218159-stock-photo-grey-background.jpg"
              alt=""
            />
            <div>
              <h4><%= user.nome %></h4>
              <br />
              <p>
                <% if(user.email) { %> Email: <%= user.email %> <%} else { %>
                Número: <%= user.telefone %> <%} %>
              </p>
            </div>
          </div>
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-gear fa-xl icon-distancia"></i
            >Configurações</a
          >
        </li>
        <li >
          <a href="#"
            ><i class="fa-regular fa-circle-question fa-xl icon-distancia"></i
            >Central de ajuda</a
          >
        </li>
        <li>
          <a href="/logout"
            ><i
              class="fa-solid fa-right-from-bracket fa-xl icon-distancia"
            ></i
            >Sair da conta</a
          >
        </li>

      </ul>
      <a href="/home"><img src="/assets/img/logo-verde.svg" alt="logo" /></a>
      <div></div>
    </nav>
  </header>