<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="icon" href="/assets/img/logo-verde.svg">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/style-login+cadastro+abertura.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <script defer src="/js/alert.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/"><img src="/assets/img/logo-branca.svg" alt=""></a>
        </div>
    </header>

    <%- include("./partials/alerts"); %>

    <main>
        <div class="cadastro__login">
            <section>           
                <a href="/cadastro"><button><b>Cadastre-se</b></button></a>
                <h4>Já possui uma conta?</h4>
                <h5><a href="/login">Faça Login</a></h5>
            </section>
       
            <section>
                <div class="cadastro__login___social">
                    <a  href="#"><button class="cadastro__login___social-botao"><i class="fa-brands fa-google"></i><b>&nbsp;|&nbsp;Entrar com o Google</b></button></a><br><br>
                    <a href="#"><button  class="cadastro__login___social-botao"><i class="fa-brands fa-facebook"></i><b>&nbsp;|&nbsp;Entrar com o Facebook</b></button></a>
                </div>
            </section>
        </div>
    </main>
</body>
</html>