<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="icon" href="/assets/img/logo-verde.svg">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/style-login+cadastro+abertura.css">    
    <link rel="stylesheet" href="/css/alerts.css">
    <script defer src="/js/alert.js"></script>
    <%- include("./partials/manifest"); %>

</head>
<body>
    <header class="header">
        <div class="nav" >
            <div class="nav__icon"><a href="/"><i class="fa-solid fa-chevron-left fa-xl nav_icon-icone"></i></a></div>           
            <div class="nav__imagem"><a href="/"><img src="/assets/img/logo-branca.svg" alt=""></a></div>
        </div>
    </header>

    <%- include("./partials/alerts"); %>

    <main>
        <section>
            <div class="login">
                <h1>Bem-vindo(a) ao Raincife</h1>
                <div class="login__forms" >
                    <form action="/login-conta" method="post">
                        <div>
                            <label for="emailcel">Digite seu email ou número de telefone:</label><br>
                            <input type="text" name="emailCel" id="emailCel">
                        </div>
                        <div>
                            <label for="senha">Digite sua senha:</label><br>
                            <input type="password" name="senha" id="senha">
                        </div>             
                        <div>
                            <small><a href="/esqueci-senha">Esqueceu a senha?</a></small>
                        </div>   
                        <br>                   
                        <div class="login__forms___submit">
                            <input type="submit" value="Entrar">
                        </div>                       
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>