<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="icon" href="/assets/img/logo-verde.svg">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/style-login+cadastro+abertura.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <script defer src="/js/alert.js"></script>
    <script defer src="/js/validacao.js"></script>
</head>
<body>
    <header class="header">
        <div class="nav">
            <div class="nav__icon"><a href="/"><i class="fa-solid fa-chevron-left fa-xl nav_icon-icone"></i></a></div>           
            <div><a href="/"><img src="/assets/img/logo-branca.svg" alt=""></a></div>
            <div></div>
        </div>
    </header>
    <%- include("./partials/alerts"); %>
    <main>
        <section>
            <div class="cadastro">
                <div class="cadastro__forms" >
                    <form action="/criar-conta" method="post">
                        <div class="cadastro__forms__espaco">
                            <label for="nome">Digite seu nome:</label><br>
                            <input type="text" name="nome" id="nome" minlength="4" required>
                            <small class="cadastro__forms__espaco-validacao" id="validacaoNome"></small>
                        </div>
                        <div class="cadastro__forms__espaco">
                            <label for="emailCel">Digite seu email ou número de telefone:</label><br>
                            <input type="text" name="emailCel" id="emailCel" required>
                        </div>
                        <div class="cadastro__forms__espaco">
                            <label for="senha">Digite sua senha:</label><br>
                            <input type="password" name="senha" id="senha" minlength="6" required>
                        </div>
                        <div class="cadastro__forms__espaco">
                            <label for="confirmarSenha">Confirme sua senha:</label><br>
                            <input type="password" name="confirmarSenha" id="confirmarSenha" required>
                        </div>
                        <div class="cadastro__forms__espaco">
                            <label for="dataNascimento">Data de nascimento: </label><br>
                            <input type="date" name="dataNascimento" id="dataNascimento" required>
                        </div>
                        <div class="cadastro__forms__espaco">
                            <label for="localizacao">Localização:</label><br>
                           <select name="localizacao" id="localizacao" required>
                            <option selected>Selecione</option>
                            <option value="morro1">Morro 1</option>
                            <option value="morro2">Morro 2</option>
                            <option value="morro3">Morro 3</option>
                            <option value="morro4">Morro 4</option>
                           </select>
                        </div>
                        <br>
                        <div class="cadastro__forms___submit">
                            <input type="submit" id="submitCadastro" value="Criar conta">
                        </div>                       
                    </form>
                </div>
            </div>
        </section>
    </main>

</body>
</html>