@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: var(--cor-branco);
}

.header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-top: .5rem;
}

/*Cor dos ícones*/
.icons{
    color: var(--cor-verde);
}
/*Distancia no menu*/
.header > nav:nth-child(1){
    padding-left: 1rem;
}

.header > nav:last-child{
    padding-right: 1rem;
}

.container{
    margin: 01rem 2rem 0 2rem;
}

.abrigos {
    position: relative;
}

#map-legend {
    position: absolute;
    top: 40px;
    left: 10px; /* Distância da esquerda */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  
  #map-legend h4 {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  #map-legend ul {
    list-style: none;
    padding: 0;
  }
  
  #map-legend li {
    margin-bottom: 5px;
  }
  
  #map-legend img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  