@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: var(--cor-branco);
}

.header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-top: .5rem;
}

/*Cor dos ícones*/
.icons{
    color: var(--cor-verde);
}
/*Distancia no menu*/
.header > nav:nth-child(1){
    padding-left: 1rem;
}

.header > nav:last-child{
    padding-right: 1rem;
}