@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-branco: #F5EBE0;
    --cor-verde: #34A0A4;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--cor-branco);
}

.header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-top: .5rem;
}

/*Cor dos ícones*/
.icons{
    color: var(--cor-verde);
}
/*Distancia no menu*/
.header > nav:nth-child(1){
    padding-left: 1rem;
}

.header > nav:last-child{
    padding-right: 1rem;
}